body {
    font-family: Arial, serif;
    background: #007f64;
}
ul {
    list-style: none;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}
.item__head {
    display: flex;
    justify-content: space-between;
}
.item__head__title {
    color: #e8c700;
}
.item {
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #e8c700;
    border-radius: 8px;
    margin-top: 15px;
}
.formApp {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.multiple {
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #e8c700;
    border-radius: 8px;
}
.multiple__inner {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-bottom: 1px solid #e8c700;
}
.multiple__inner:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

input,
.btn_add {
    margin:5px 0 15px;
    border: 2px solid #e8c700;
    padding: 15px 10px;
    border-radius: 8px;
}
.btn_add {
    display: block;
    width: 50%;
    margin: 5px auto;
}
label {
    color: #e8c700;
}
textarea {
    height: 120px;
    border-radius: 8px;
    border: 2px solid #e8c700;
    padding: 15px 10px;
    margin-top: 5px;
}
.title__block {
    color: #e8c700;
    font-size: 32px;
}