body {
    font-family: Arial, serif;
    background: #007f64;
}
.formApp {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.multiple {
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #e8c700;
    border-radius: 8px;
}
.multiple__inner {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-bottom: 1px solid #e8c700;
}
.multiple__inner:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
input,
.btn_add {
    margin:5px 0 15px;
    border: 2px solid #e8c700;
    padding: 15px 10px;
    border-radius: 8px;
}
label {
    color: #e8c700;
}
#workplace {
    height: 120px;
    border-radius: 8px;
    border: 2px solid #e8c700;
    padding: 15px 10px;
    margin-top: 5px;
}
.title__block {
    color: #e8c700;
    font-size: 32px;
}